name: Verify last batch
on: [push, workflow_dispatch]
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: '20' }
      - run: npm ci || npm i
      - run: npm run verify
        env:
          # optionnel: override GW
          GW_PRIMARY: https://gateway.pinata.cloud/ipfs
          GW_FALLBACKS: https://ipfs.io/ipfs,https://cloudflare-ipfs.com/ipfs
